<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799536490688-od05jms0ui1jb9r3j7jqo8l1pi77igv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799536490688-od05jms0ui1jb9r3j7jqo8l1pi77igv8</string>
	<key>API_KEY</key>
	<string>AIzaSyCbUF7bzg_mHctXJK-kfEKRgUNTkcUyh1c</string>
	<key>GCM_SENDER_ID</key>
	<string>799536490688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.end</string>
	<key>PROJECT_ID</key>
	<string>dana-638e7</string>
	<key>STORAGE_BUCKET</key>
	<string>dana-638e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799536490688:ios:de5ae7a1cc8506101c6525</string>
</dict>
</plist>